In [145]:
import chardet 
import pandas as pd
import numpy as np

with open("train.csv", 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

print(result['encoding'])
df_raw = pd.read_csv('train.csv', encoding=result['encoding'], delimiter=',')

ascii

In [2]:
df_raw.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
from sklearn.model_selection import train_test_split

In [146]:

X = df_raw.drop(columns=['Survived'])
y = df_raw['Survived']

print(X.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)

(891, 11)

In [5]:
print("Shape of X is {}".format(X.shape))
print("Shape of X_train is {} and shape of y_train is {}".format(X_train.shape, y_train.shape))
print("Shape of X_test is {} and shape of y_test is {}".format(X_test.shape, y_test.shape))

train_corpus = list(X_train)

Shape of X is (891, 11)
Shape of X_train is (668, 11) and shape of y_train is (668,)
Shape of X_test is (223, 11) and shape of y_test is (223,)

In [6]:
X_train.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   668.000000  668.000000  541.000000  668.000000  668.000000  668.000000
mean    448.967066    2.305389   29.528189    0.535928    0.413174   33.740412
std     258.757008    0.833789   14.329970    1.164272    0.848284   52.836576
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     226.500000    2.000000   21.000000    0.000000    0.000000    7.925000
50%     458.500000    3.000000   28.000000    0.000000    0.000000   14.500000
75%     674.250000    3.000000   38.000000    1.000000    1.000000   31.387500
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [148]:
X

array([[ 0.    ,  3.    ,  1.    , ...,  0.    ,  7.25  ,  0.    ],
       [ 1.    ,  1.    ,  0.    , ...,  0.    , 71.2833,  1.    ],
       [ 1.    ,  3.    ,  0.    , ...,  0.    ,  7.925 ,  0.    ],
       ...,
       [ 0.    ,  3.    ,  0.    , ...,  2.    , 23.45  ,  0.    ],
       [ 1.    ,  1.    ,  1.    , ...,  0.    , 30.    ,  1.    ],
       [ 0.    ,  3.    ,  1.    , ...,  0.    ,  7.75  ,  2.    ]])

In [11]:
g = X_train.groupby(['Pclass','Cabin'])

In [14]:
len(list(filter(lambda x : x > 0, df_raw['Age'])))

714

In [18]:
cabins = sorted(map(str,df_raw['Cabin']))

In [19]:
import bisect

In [40]:
len(list(filter(lambda x : x is np.nan , df_raw['Cabin'])))

687

## Baseline 

Using random forests on pclass, sex, sibsp, parch, fare, embarked

In [142]:
from sklearn import preprocessing

In [130]:
def baselineVectorizer(df):
# leEmbarked.fit(df_raw['Embarked'])
    leSex = preprocessing.LabelEncoder()
    leEmbarked = preprocessing.LabelEncoder()
    leSex.fit(df['Sex'])
    leEmbarked.fit(df['Embarked'])
    df.fillna(inplace=True, value=0)
    df['Embarked'] = leEmbarked.transform(df['Embarked'])
#     df['Embarked'] = list(map(lambda x : 0 if x is 'S' else 1 if x is 'C' else 2, df['Embarked']))
    df['Sex'] = leSex.transform(df['Sex'])
    return df.drop(labels=['PassengerId', 'Name', 'Age', 'Ticket', 'Cabin'], axis=1)

In [147]:
print(X)
X = baselineVectorizer(df_raw)
print(X.shape)

     PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
5              6       3                                   Moran, Mr. James
6              7       1                            McCarthy, Mr. Timothy J
7              8       3                     Palsson, Master. Gosta Leonard
8              9       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9             10       2                Nasser, Mrs. Nicholas (Adele Achem)
10            11       3                    Sandstrom, Miss. Marguerite Rut
11            12       1                           Bonnell, Miss. Elizabeth
12            13       3                     Saundercock, Mr. William Henry
13            14       3                        Andersson, Mr. Anders Johan
14            15       3               Vestrom, Miss. Hulda Amanda Adolfina
15            16       2                   Hewlett, Mrs. (Mary D Kingcome)
16            17       3                               Rice, Master. Eugene
17            18       2                       Williams, Mr. Charles Eugene
18            19       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19            20       3                            Masselmani, Mrs. Fatima
20            21       2                               Fynney, Mr. Joseph J
21            22       2                              Beesley, Mr. Lawrence
22            23       3                        McGowan, Miss. Anna "Annie"
23            24       1                       Sloper, Mr. William Thompson
24            25       3                      Palsson, Miss. Torborg Danira
25            26       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26            27       3                            Emir, Mr. Farred Chehab
27            28       1                     Fortune, Mr. Charles Alexander
28            29       3                      O'Dwyer, Miss. Ellen "Nellie"
29            30       3                                Todoroff, Mr. Lalio
..           ...     ...                                                ...
861          862       2                        Giles, Mr. Frederick Edward
862          863       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863          864       3                  Sage, Miss. Dorothy Edith "Dolly"
864          865       2                             Gill, Mr. John William
865          866       2                           Bystrom, Mrs. (Karolina)
866          867       2                       Duran y More, Miss. Asuncion
867          868       1               Roebling, Mr. Washington Augustus II
868          869       3                        van Melkebeke, Mr. Philemon
869          870       3                    Johnson, Master. Harold Theodor
870          871       3                                  Balkic, Mr. Cerin
871          872       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872          873       1                           Carlsson, Mr. Frans Olof
873          874       3                        Vander Cruyssen, Mr. Victor
874          875       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875          876       3                   Najib, Miss. Adele Kiamie "Jane"
876          877       3                      Gustafsson, Mr. Alfred Ossian
877          878       3                               Petroff, Mr. Nedelio
878          879       3                                 Laleff, Mr. Kristo
879          880       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880          881       2       Shelley, Mrs. William (Imanita Parrish Hall)
881          882       3                                 Markun, Mr. Johann
882          883       3                       Dahlberg, Miss. Gerda Ulrika
883          884       2                      Banfield, Mr. Frederick James
884          885       3                             Sutehall, Mr. Henry Jr
885          886       3               Rice, Mrs. William (Margaret Norton)
886          887       2                              Montvila, Rev. Juozas
887          888       1                       Graham, Miss. Margaret Edith
888          889       3           Johnston, Miss. Catherine Helen "Carrie"
889          890       1                              Behr, Mr. Karl Howell
890          891       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket      Fare        Cabin  \
0      male  22.0      1      0         A/5 21171    7.2500          NaN
1    female  38.0      1      0          PC 17599   71.2833          C85
2    female  26.0      0      0  STON/O2. 3101282    7.9250          NaN
3    female  35.0      1      0            113803   53.1000         C123
4      male  35.0      0      0            373450    8.0500          NaN
5      male   NaN      0      0            330877    8.4583          NaN
6      male  54.0      0      0             17463   51.8625          E46
7      male   2.0      3      1            349909   21.0750          NaN
8    female  27.0      0      2            347742   11.1333          NaN
9    female  14.0      1      0            237736   30.0708          NaN
10   female   4.0      1      1           PP 9549   16.7000           G6
11   female  58.0      0      0            113783   26.5500         C103
12     male  20.0      0      0         A/5. 2151    8.0500          NaN
13     male  39.0      1      5            347082   31.2750          NaN
14   female  14.0      0      0            350406    7.8542          NaN
15   female  55.0      0      0            248706   16.0000          NaN
16     male   2.0      4      1            382652   29.1250          NaN
17     male   NaN      0      0            244373   13.0000          NaN
18   female  31.0      1      0            345763   18.0000          NaN
19   female   NaN      0      0              2649    7.2250          NaN
20     male  35.0      0      0            239865   26.0000          NaN
21     male  34.0      0      0            248698   13.0000          D56
22   female  15.0      0      0            330923    8.0292          NaN
23     male  28.0      0      0            113788   35.5000           A6
24   female   8.0      3      1            349909   21.0750          NaN
25   female  38.0      1      5            347077   31.3875          NaN
26     male   NaN      0      0              2631    7.2250          NaN
27     male  19.0      3      2             19950  263.0000  C23 C25 C27
28   female   NaN      0      0            330959    7.8792          NaN
29     male   NaN      0      0            349216    7.8958          NaN
..      ...   ...    ...    ...               ...       ...          ...
861    male  21.0      1      0             28134   11.5000          NaN
862  female  48.0      0      0             17466   25.9292          D17
863  female   NaN      8      2          CA. 2343   69.5500          NaN
864    male  24.0      0      0            233866   13.0000          NaN
865  female  42.0      0      0            236852   13.0000          NaN
866  female  27.0      1      0     SC/PARIS 2149   13.8583          NaN
867    male  31.0      0      0          PC 17590   50.4958          A24
868    male   NaN      0      0            345777    9.5000          NaN
869    male   4.0      1      1            347742   11.1333          NaN
870    male  26.0      0      0            349248    7.8958          NaN
871  female  47.0      1      1             11751   52.5542          D35
872    male  33.0      0      0               695    5.0000  B51 B53 B55
873    male  47.0      0      0            345765    9.0000          NaN
874  female  28.0      1      0         P/PP 3381   24.0000          NaN
875  female  15.0      0      0              2667    7.2250          NaN
876    male  20.0      0      0              7534    9.8458          NaN
877    male  19.0      0      0            349212    7.8958          NaN
878    male   NaN      0      0            349217    7.8958          NaN
879  female  56.0      0      1             11767   83.1583          C50
880  female  25.0      0      1            230433   26.0000          NaN
881    male  33.0      0      0            349257    7.8958          NaN
882  female  22.0      0      0              7552   10.5167          NaN
883    male  28.0      0      0  C.A./SOTON 34068   10.5000          NaN
884    male  25.0      0      0   SOTON/OQ 392076    7.0500          NaN
885  female  39.0      0      5            382652   29.1250          NaN
886    male  27.0      0      0            211536   13.0000          NaN
887  female  19.0      0      0            112053   30.0000          B42
888  female   NaN      1      2        W./C. 6607   23.4500          NaN
889    male  26.0      0      0            111369   30.0000         C148
890    male  32.0      0      0            370376    7.7500          NaN

    Embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
861        S
862        S
863        S
864        S
865        S
866        C
867        S
868        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
878        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
888        S
889        C
890        Q

[891 rows x 11 columns]
(891, 7)

In [71]:
X_train_b1 = baselineVectorizer(X_train)
X_test_b1  = baselineVectorizer(X_test)

/home/bhishma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/bhishma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

array([[ 3.    ,  1.    ,  0.    ,  0.    ,  7.125 ,  2.    ],
       [ 3.    ,  1.    ,  0.    ,  0.    ,  7.05  ,  2.    ],
       [ 3.    ,  1.    ,  0.    ,  0.    ,  7.8958,  2.    ],
       ...,
       [ 2.    ,  0.    ,  0.    ,  0.    , 10.5   ,  2.    ],
       [ 2.    ,  1.    ,  0.    ,  0.    , 13.    ,  2.    ],
       [ 1.    ,  0.    ,  0.    ,  0.    , 86.5   ,  2.    ]])

In [140]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=42)

print(X.shape)

model.fit(X, y)

# from sklearn.metrics import accuracy_score, confusion_matrix

# y_test_predicted = model.predict(X_test_b1)

# print("The fraction of correctly classified samples is {}".format(accuracy_score(y_test, y_test_predicted)))

# pd.DataFrame(confusion_matrix(y_test_predicted, y_test), 
#              index={'true s', 'true ns'}, 
#              columns={'pred s', 'pred ns'})

(891, 7)

/home/bhishma/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=42, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [88]:
from sklearn.model_selection import cross_val_score

lr_model = LogisticRegression()
cv_scores = cross_val_score(lr_model, X=baselineVectorizer(df_raw), y=y, cv=5, n_jobs=4)
print(cv_scores)

[0.80446927 0.80446927 0.78089888 0.76966292 0.81355932]

In [81]:
baselineVectorizer(df_raw).shape

(891, 7)

In [135]:
df_raw_test = pd.read_csv('test.csv')

In [136]:
df_test = baselineVectorizer(df_raw_test)

In [141]:
y_test_predicted = model.predict(df_test)

ValueError: X has 6 features per sample; expecting 7